{% extends "base1.html" %}

{% block head %}
<title>Writings</title>
{% endblock %}

{% block section %}

<div class="container d-flex align-items-center justify-content-center">


    <div class="w-75">
        <div class="col rounded" style="background-color: #565940; filter: (0.9);"><br>
            Let them go, let them go<br>
            Let the souls go<br>
            Let them fly above the sky<br>
            Let them go beyond and through<br><br>
        </div>
        <br>
        <div class="col rounded" style="background-color: #d8c4f3; filter: (0.9);"><br>
            Why should I think that the void, the doubt, the unknown, are terrible things?<br>
            Why should I be unhappy for this, or, on the other hand, be happy for have answers?<br>
            To achieve happiness, certainties are needed.<br>
            But once it is present, the void or the non-void are from the same importance, although used for unlike
            things.<br><br>

        </div>
        <br>
        <div class="col rounded" style="background-color: #F2F2F2; filter: (0.9);">

            <p><br>
                Drum sound rises on the air,<br>
                its throb, my heart.<br>
            </p>
            <p>
                A voice inside the beat says,<br>
                "I know you're tired,<br>
                but come. This is the way."<br>
            </p>
            <p>
                Are you jealous of the ocean's generosity?<br>
                Why would you refuse to give<br>
                this joy to anyone?<br>
            </p>
            <p>
                Fish don't hold the sacred liquid in cups!<br>
                They swin the huge fluid freedom.<br>
            </p>
            -Rumi<br><br>
        </div>
        <br>
        <div class="col rounded" style="background-color: #bd9deb; filter: (0.9);">

            <br>
            <p>About guides and possible defect</p><br>
            <p>When you see a very small object in the sky and you want to show it to whoever is next to you, you point and
            tell the person to look, but they can't see it. You keep pointing and reinforcing the fact that there is
            something there, you point in the right direction, you get upset because the person still can't see the same
            thing as you. And this repeats itself, sometimes until the other person starts to think you're crazy seeing
            random things in the sky. But the person doesn't have the same point of view as yours. She's in another. So
            you have the idea of ​​moving closer to where that person's eyes are to try to point in a closer direction,
            which they could be able to align. After a long time of this affliction, the person finally sees what you
            are seeing. And she will never see it the same way you do.</p><br>
        </div>
    </div>

    {% endblock %}